<main class="form-wrapper form_background" role="main">
  <h1>Edit the Entry</h1>
  <form id="edit_form" method="put" action="/entries/<%= @entry.id %>">
    <label for="singer_name_input">Singer name:</label>
    <input id="singer_name_input" name="entry[singer]" type="text" value="<%= @entry.try(:singer) %>">

    <label for="song_title_input">Song title:</label>
    <input id="song_title_input"  name="entry[song_title]" type="text" value="<%= @entry.try(:song_title) %>">

    <input id="edit_submit_button" type="submit" value="Update Entry" class="button">
  </form>
</main>