<main class="form-wrapper entries new_form_padding" role="main">
  <h1 id="sign-up-header">Sign Up to Karaoke</h1>


  <form class="new_form" method="post" action="/entries">
    <label for="singer_name_input">Singer name:</label>
    <input id="singer_name_input" name="entry[singer]" type="text" value="<%= @entry.try(:singer) %>">

    <label for="song_title_input">Song title:</label>
    <input id="song_title_input" name="entry[song_title]" type="text" value="<%= @entry.try(:song_title) %>">

    <input id="new_form_submit" type="submit" value="Put me on the List!" class="button">
  </form>
</main>